/Proyecto/LibreriaPrincipal/nbproject/private/
/Proyecto/LibreriaAAcademico/LibreriaAAcademico/build/
/Proyecto/LibreriaAAcademico/LibreriaAAcademico/dist/
/Proyecto/LibreriaAAcademico/LibreriaAAcademico/nbproject/private/
/Proyecto/ola/ola/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/LibreriaAAcademico/build/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/LibreriaAAcademico/dist/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/LibreriaAAcademico/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/src/ola/ola/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/nbproject/LibreriaAAcademico/LibreriaAAcademico/build/
/Proyecto/SoftPixelPenguinsIE/nbproject/LibreriaAAcademico/LibreriaAAcademico/dist/
/Proyecto/SoftPixelPenguinsIE/nbproject/LibreriaAAcademico/LibreriaAAcademico/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/nbproject/ola/ola/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/dist/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/build/
/Proyecto/SoftPixelPenguinsIE/src/LibreriaAAcademico/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/src/ola/nbproject/private/
/Proyecto/SoftPixelPenguinsIE/build/
/Proyecto/SoftPixelPenguinsIE/dist/
/Proyecto/SoftPixelPenguinsDBManager/SoftPixelPenguinsDBManager/build/
/Proyecto/SoftPixelPenguinsDBManager/SoftPixelPenguinsDBManager/dist/
/Proyecto/SoftPixelPenguinsDBManager/SoftPixelPenguinsDBManager/nbproject/private/
/Proyecto/SoftPixelPenguinsCurriculaBO/nbproject/private/
/Proyecto/SoftPixelPenguinsCurriculaDA/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsCurriculaBO/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsCurriculaDA/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsDBManager/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsInstitucioneducativaBO/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsInstitucioneducativaDA/build/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsInstitucioneducativaDA/nbproject/private/
/Proyecto/ProyectoSoftPixelPenguins/SoftPixelPenguinsInstitucioneducativaModel/nbproject/private/
/Lab6/SoftPixelPenguinsCurriculaModel/build/
/Lab6/SoftPixelPenguinsCurriculaDA/build/
/Lab6/SoftPixelPenguinsAñoAcademicoModel/build/
/Lab6/SoftPixelPenguinsAñoAcademicoModel/dist/
/Lab6/SoftPixelPenguinsCurriculaModel/dist/
/Lab6/SoftPixelPenguinsUsuarioModel/dist/
/Lab6/SoftPixelPenguinsInstitucionEducativaModel/dist/
/Lab6/SoftPixelPenguinsInstitucionEducativaDA/dist/
/Pruebas/SoftIEPixelPenguinsTest/build/
/Lab6/SoftPixelPenguinsInstitucionEducativaBO/build/
/Lab6/SoftPixelPenguinsInstitucionEducativaBO/dist/
/Pruebas/SoftIEPixelPenguinsTest/dist/
/Lab6/SoftPixelPenguinsAñoAcademicoBO/build/
/Lab6/SoftPixelPenguinsAñoAcademicoDA/build/
/Lab6/SoftPixelPenguinsAñoAcademicoDA/dist/
/Lab6/SoftPixelPenguinsAñoAcademicoBO/dist/
/Lab6/SoftPixelPenguinsCurriculaDA/dist/
/Lab6/SoftPixelPenguinsCurriculaBO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaModel/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioModel/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsCurriculaModel/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoModel/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManager/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManagerTest/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManagerTest/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManagerTest/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManager/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsDBManager/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoModel/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsCurriculaModel/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoModel/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoModel/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsCurriculaModel/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoModel/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaModel/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoModel/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioModel/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioModel/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaModel/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoDAO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioDAO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguins/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioBO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioDAO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioBO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioBO/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsUsuarioDAO/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguins/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguins/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoBO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoBO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoDAO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsCurriculaBO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsCurriculaDAO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaBO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaDAO/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsContratoDAO_1/nbproject/private/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaBO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaDAO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaDAO/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsInstitucionEducativaBO/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoBO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoDAO/build/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoDAO/dist/
/Laboratorio 7 - PixelPenguins/Programacion JAVA/SoftPixelPenguinsAnioAcademicoBO/dist/
/Refactorizado/SoftPixelPenguinsAnioAcademicoDAO/build/
/Refactorizado/SoftPixelPenguinsAnioAcademicoBO/build/
/Refactorizado/SoftPixelPenguinsAnioAcademicoDAO/dist/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaDAO/build/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaBO/build/
/Refactorizado/SoftPixelPenguinsAnioAcademicoBO/dist/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaModel/build/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaModel/dist/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaDAO/dist/
/Refactorizado/SoftPixelPenguinsInstitucionEducativaBO/dist/
