# Java
*.class
/build/
out/
# C#
bin/
obj/
*.exe
*.dll
# Visual Studio
.vscode/
*.suo
*.user
ConnectedServices/
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.war
nbproject/
nbbuild/
*.nb-gradle/
*.nb-javac/
