body {
    margin: 0;
    font-family: Arial, sans-serif; /* Cambiar fuente por defecto */
}

.schedule {
    flex: 3; /* Ocupa 3 partes del contenedor */
    padding: 20px; /* Espacio interno */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
}

.container-al {
    display: flex; /* Usar flexbox para organizar el layout */
    width: 100%; /* Ancho completo */
    margin-top: 20px; /* Espacio arriba */
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #4CAF50; /* Color verde para el título principal */
    font-size: 24px; /* Tamaño del texto */
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 20px; /* Espacio debajo del título */
    border-bottom: 2px solid #000000; /* Línea debajo del título */
    padding-bottom: 10px; /* Espacio interno debajo del título */
}

h3 {
    color: #333;
    margin-bottom: 15px;
    text-align: left; /* Alineación a la izquierda */
    font-size: 20px; /* Tamaño del texto */
    border-bottom: 2px solid #000000; /* Línea debajo del título */
    padding-bottom: 10px; /* Espacio interno debajo del título */
}

.text-center{
    align-content: center;
}

.login-button {
    float: left; /* Asegura que el botón se alinee a la izquierda */
}