<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PagoWSPortBinding" />
        <binding name="PersonalAdministrativoWSPortBinding" />
        <binding name="JornadaEscolarWSPortBinding" />
        <binding name="CompetenciaWSPortBinding" />
        <binding name="RolWSPortBinding" />
        <binding name="NotaWSPortBinding" />
        <binding name="HoraAcademicaWSPortBinding" />
        <binding name="InstitucionEducativaWSPortBinding" />
        <binding name="ApoderadoWSPortBinding" />
        <binding name="CursoWSPortBinding" />
        <binding name="SeccionAcademicaWSPortBinding" />
        <binding name="AdministradorWSPortBinding" />
        <binding name="ProfesorWSPortBinding" />
        <binding name="MatriculaWSPortBinding" />
        <binding name="AlumnoWSPortBinding" />
        <binding name="UsuarioWSPortBinding" />
        <binding name="AnioAcademicoWSPortBinding" />
        <binding name="GradoAcademicoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/PagoWS"
        binding="basicHttpBinding" bindingConfiguration="PagoWSPortBinding"
        contract="ServicioWeb.PagoWS" name="PagoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/PersonalAdministrativoWS"
        binding="basicHttpBinding" bindingConfiguration="PersonalAdministrativoWSPortBinding"
        contract="ServicioWeb.PersonalAdministrativoWS" name="PersonalAdministrativoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/JornadaEscolarWS"
        binding="basicHttpBinding" bindingConfiguration="JornadaEscolarWSPortBinding"
        contract="ServicioWeb.JornadaEscolarWS" name="JornadaEscolarWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/CompetenciaWS"
        binding="basicHttpBinding" bindingConfiguration="CompetenciaWSPortBinding"
        contract="ServicioWeb.CompetenciaWS" name="CompetenciaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/RolWS"
        binding="basicHttpBinding" bindingConfiguration="RolWSPortBinding"
        contract="ServicioWeb.RolWS" name="RolWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/NotaWS"
        binding="basicHttpBinding" bindingConfiguration="NotaWSPortBinding"
        contract="ServicioWeb.NotaWS" name="NotaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/HoraAcademicaWS"
        binding="basicHttpBinding" bindingConfiguration="HoraAcademicaWSPortBinding"
        contract="ServicioWeb.HoraAcademicaWS" name="HoraAcademicaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/InstitucionEducativaWS"
        binding="basicHttpBinding" bindingConfiguration="InstitucionEducativaWSPortBinding"
        contract="ServicioWeb.InstitucionEducativaWS" name="InstitucionEducativaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/ApoderadoWS"
        binding="basicHttpBinding" bindingConfiguration="ApoderadoWSPortBinding"
        contract="ServicioWeb.ApoderadoWS" name="ApoderadoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/CursoWS"
        binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding"
        contract="ServicioWeb.CursoWS" name="CursoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/SeccionAcademicaWS"
        binding="basicHttpBinding" bindingConfiguration="SeccionAcademicaWSPortBinding"
        contract="ServicioWeb.SeccionAcademicaWS" name="SeccionAcademicaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/AdministradorWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
        contract="ServicioWeb.AdministradorWS" name="AdministradorWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/ProfesorWS"
        binding="basicHttpBinding" bindingConfiguration="ProfesorWSPortBinding"
        contract="ServicioWeb.ProfesorWS" name="ProfesorWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/MatriculaWS"
        binding="basicHttpBinding" bindingConfiguration="MatriculaWSPortBinding"
        contract="ServicioWeb.MatriculaWS" name="MatriculaWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/AlumnoWS"
        binding="basicHttpBinding" bindingConfiguration="AlumnoWSPortBinding"
        contract="ServicioWeb.AlumnoWS" name="AlumnoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="ServicioWeb.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/AnioAcademicoWS"
        binding="basicHttpBinding" bindingConfiguration="AnioAcademicoWSPortBinding"
        contract="ServicioWeb.AnioAcademicoWS" name="AnioAcademicoWSPort" />
      <endpoint address="http://localhost:8080/SoftPixelPenguinsWSBL/GradoAcademicoWS"
        binding="basicHttpBinding" bindingConfiguration="GradoAcademicoWSPortBinding"
        contract="ServicioWeb.GradoAcademicoWS" name="GradoAcademicoWSPort" />
    </client>
  </system.serviceModel>
</configuration>